<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quote</title>
    <link rel="stylesheet" href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/wwwroot/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="home" asp-action="index"><img src="~/wwwroot/quote.png" class="rounded-circle" height="35" width="35" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav d-flex">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="home" asp-action="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="commands" asp-action="index">Commands</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="home" asp-action="license">License</a>
                                <a class="dropdown-item" asp-controller="home" asp-action="privacy">Privacy</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="https://discord.gg/vkWyTGa" target="_blank"><img class="rounded-circle" src="https://e7.pngegg.com/pngimages/574/586/png-clipart-discord-computer-icons-logo-computer-software-others-miscellaneous-blue.png" height="23" width="23" /> Discord</a>
                                <a class="dropdown-item" href="https://twitter.com/QuoteDiscord" target="_blank"><img class="rounded-circle" src="https://cdn2.iconfinder.com/data/icons/minimalism/512/twitter.png" height="23" width="23" /> Twitter</a>
                                <a class="dropdown-item" href="https://github.com/Quote-Bot/QuoteBot" target="_blank"><img class="rounded-circle" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="23" width="23" /> GitHub</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Selfhosting</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="selfhosting" asp-action="linux">Linux</a>
                                <a class="dropdown-item disabled" asp-controller="selfhosting" asp-action="windows">Windows</a>
                                <a class="dropdown-item disabled" asp-controller="selfhosting" asp-action="faq">FAQ</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading"><b>Attention!</b></h4>
                <p class="mb-0">This site is still currently under development! If you notice any errors, please report it to <b>kagerou#0192</b> on Discord!</p>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Kagerou, Deivedux
        </div>
    </footer>
    <script src="~/wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/wwwroot/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

<script>
    const $dropdown = $(".dropdown");
    const $dropdownToggle = $(".dropdown-toggle");
    const $dropdownMenu = $(".dropdown-menu");
    const showClass = "show";

    $(window).on("load resize", function () {
        if (this.matchMedia("(min-width: 768px)").matches) {
            $dropdown.hover(
                function () {
                    const $this = $(this);
                    $this.addClass(showClass);
                    $this.find($dropdownToggle).attr("aria-expanded", "true");
                    $this.find($dropdownMenu).addClass(showClass);
                },
                function () {
                    const $this = $(this);
                    $this.removeClass(showClass);
                    $this.find($dropdownToggle).attr("aria-expanded", "false");
                    $this.find($dropdownMenu).removeClass(showClass);
                }
            );
        } else {
            $dropdown.off("mouseenter mouseleave");
        }
    });
</script>