@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Linux Hosting</h1>
    <h5>On this page, you will learn how to host Quote bot on your Linux device/server.</h5>
    <hr />
</div>

<h5 class="text-center">Before we start with hosting, here is a list of everything you will need to install in order to run Quote.</h5>
<div class="list-group">
    <a class="list-group-item list-group-item-action">Python 3.5+</a>
    <a class="list-group-item list-group-item-action">Git</a>
    <a class="list-group-item list-group-item-action">dos2unix</a>
    <a class="list-group-item list-group-item-action">pip</a>
    <a class="list-group-item list-group-item-action">aiohttp</a>
</div>

<hr />

<h2><b>Step 1: Installing The Requirements & The Quote Linux Launcher</b></h2>
<h5 class="text-center">Open your console/terminal and type the following:</h5>

<div class="text-center">
    <p style="background-color: #d9d9d9; color: #076cab;">curl https://raw.githubusercontent.com/Quote-Bot/Quote-Scripts/master/get.sh -o get.sh</p>
    <p style="background-color: #d9d9d9; color: #076cab;">sh get.sh</p>
</div>
<h5 class="text-center">What <a style="background-color: #d9d9d9; color: #076cab;">get.sh</a> does is, it will install <b>Python</b>, <b>Git</b> and <b>dos2unix</b> if they are not already installed and then download Quote Linux Launcher.</h5>
<h5 class="text-center">After <a style="background-color: #d9d9d9; color: #076cab;">get.sh</a> has executed and self-eliminated, your terminal will show something along the lines of what the picture below shows. From there, move on to <b>Step 2</b>.</h5>

<div class="text-center">
    <img class="img-fluid" src="~/wwwroot/get.sh completed.png" />
</div>

<hr />

<h2><b>Step 2: Installing Quote</b></h2>
<h5 class="text-center">We at Quote have designed a special launcher, better than the one we had before, for the sake of convenience.</h5>
<h5 class="text-center">Start the launcher by typing the following:</h5>
<div class="text-center" style="background-color: #d9d9d9; color: #076cab;">
    <p>sh quote_launcher.sh</p>
</div>
<h5 class="text-center">Once you have ran the launcher, you will see the following menu:</h5>

<div class="text-center">
    <img class="img-fluid" src="~/wwwroot/quote launcher menu.png" />
</div>

<h5 class="text-center">Select option 2 to download <b>Quote</b>.</h5>

<hr />

<h2><b>Step 3: Editing Credentials</b></h2>

<h5 class="text-center">Now that you have Quote bot actually installed, it is time to edit the credential.</h5>
<h5 class="text-center">Before we get into it, there are a few things you should have at hand. These consist of an <b>Owner ID</b> and a <b>Bot Token</b>.</h5>
<h5 class="text-center"><i>Refer to the <a asp-controller="selfhosting" asp-action="faq">FAQ (Frequently Asked Questions)</a> on how to obtain these.</i></h5>
<h5 class="text-center">First and foremost, to go to the directory where <a style="background-color: #d9d9d9; color: #076cab;">credentials.json</a> is located, run the following command which will also immediately enter edit mode for the file:</h5>

<div class="text-center">
    <p style="background-color: #d9d9d9; color: #076cab;">cd QuoteBot/QuoteBot/configs && nano credentials.json</p>
    <img class="img-fluid" src="~/wwwroot/nano credentials.json view.png" />
</div>

<h5 class="text-center">Press <b>CTRL + X</b>, then <b>y</b> and thereafter the Enter key to save the file.</h5>

<hr />

<h2><b>Step 4: Running Quote</b></h2>

<h5 class="text-center">Almost done. All that's left to do is run Quote. To do so, run <a style="background-color: #d9d9d9; color: #076cab;">sh quote_launcher.sh</a> and press option <b>1</b>.</h5>

<div class="text-center">
    <img class="img-fluid" src="~/wwwroot/running quote.png" />
</div>

<hr />

<h2 class="text-center"><b>And that is it! You have succesfully set up your own Quote bot for Linux in matter of minutes.</b></h2>

<hr />

<h2><b>Found a bug?</b></h2>

<h5 class="text-center">If you've found a bug in a script or on this page, please join the <a href="https://discord.gg/vkWyTGa">Official Support Server</a> and ask for help in the <b>#support</b> channel.</h5>