@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Linux Hosting</h1>
    <h5>On this page, you will learn how to host Quote on your own.</h5>
    <hr />
</div>

<h5 class="text-center">Before we start with hosting, here is a list of everything you will need to install in order to run Quote.</h5>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Python 3.5+</a>
    <a href="#" class="list-group-item list-group-item-action">Git</a>
    <a href="#" class="list-group-item list-group-item-action">dos2unix</a>
</div>

<hr />

<h2><b>Step 1: Installing The Requirements & The Quote Linux Launcher</b></h2>
<h5 class="text-center">Open your console/terminal and type the following:</h5>

<div class="text-center">
    <p style="background-color: dimgray; color: lightskyblue;">curl https://raw.githubusercontent.com/Quote-Bot/Quote-Scripts/master/get.sh -o get.sh</p>
    <p style="background-color: dimgray; color: lightskyblue;">sh get.sh</p>
</div>
<h5 class="text-center">What <a style="background-color: dimgray; color: lightskyblue;">get.sh</a> does is, it will install <b>Python</b>, <b>Git</b> and <b>dos2unix</b> if they are not already installed and then download Quote Linux Launcher.</h5>
<h5 class="text-center">After <a style="background-color: dimgray; color: lightskyblue;">get.sh</a> has executed and self-eliminated, your terminal will show something along the lines of what the picture below shows. From there, move on to <b>Step 2</b>.</h5>

<div class="text-center">
    <img class="img-fluid" src="~/wwwroot/get.sh completed.png" />
</div>

<hr />

<h2><b>Step 2: Installing Quote</b></h2>
<h5 class="text-center">We at Quote have designed a special launcher, better than the one we had before, for the sake of convenience.</h5>
<h5 class="text-center">Start the launcher by typing the following:</h5>
<div class="text-center" style="background-color: dimgray; color: lightskyblue;">
    <p>sh quote_launcher.sh</p>
</div>
<h5 class="text-center">Once you have ran the launcher, you will see the following menu:</h5>

<div class="text-center">
    <img class="img-fluid" src="~/wwwroot/quote launcher menu.png" />
</div>

<h5 class="text-center">Select option 2 to download <b>Quote</b>.</h5>

<hr />

<h2><b>Step 3: Editing Credentials</b></h2>

<h5 class="text-ceneter">Work in Progress</h5>
<h5 class="text-center">creds.json</h5>
