@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Linux Hosting</h1>
    <p>On this site, you will learn how to host Quote on your own.</p>
    <hr />
</div>

<p class="text-center">Before we start with hosting, here is a list of everything you will need to install in order to run Quote.</p>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Python 3.5+</a>
    <a href="#" class="list-group-item list-group-item-action">Git</a>
</div>

<hr />

<h3><b>Step 1</b>: Installing The Requirements</h3>
<p class="text-center">Open your console/terminal and type the following:</p>

<div class="text-center">
    <p style="background-color: lightslategrey; color: indianred;">apt install python3</p>
    <p style="background-color: lightslategrey; color: indianred;">apt install git</p>
</div>

<p class="text-center">Now that you have installed Python and Git, we can move on to installing Quote.</p>

<hr />

<h3><b>Step 2</b>: Installing the Quote Linux Launcher</h3>
<p class="text-center">We at Quote have designed a special launcher, better than the one we had before, for the sake of convenience.</p>
<p class="text-center">Install it by typing the following:</p>

<div class="text-center">
    <p style="background-color: lightslategrey; color: indianred;">curl https://raw.githubusercontent.com/Quote-Bot/Quote-Scripts/master/get.sh -o get.sh</p>
    <p style="background-color: lightslategrey; color: indianred;">dos2unix get.sh</p>
</div>

<p class="text-center">You will notice that <b style="background-color: lightslategrey; color: indianred;">get.sh</b> file self-terminates, once it installs the launcher. Don't worry about it, as it is intended.</p>
<p class="text-center">Now that you have <b style="background-color: lightslategrey; color: indianred;">quote_launcher.sh</b> installed, it's time we move on to the next step.</p>

<hr />

<h3><b>Step 3:</b> Editing Credentials</h3>

<p class="text-ceneter">Work in Progress</p>