@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Windows Hosting</h1>
    <p>Work In Progress</p>
    <a class="btn btn-success" role="button" asp-controller="selfhosting" asp-action="installer">Windows Installer</a>
</div>