@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <h4>What this site uses:</h4>
    <p>This site does not collect any of your private information. Only thing that this site tracks is the amount of requests</p>
    <p>you make to this site, and the visits you make to this site, which is tracked via CloudFlare.</p>
    <br />
    <h4>What the Quote Windows Installer uses/collects:</h4>
    <p>The Windows Installer does not collect any personal information from your computer.</p>
    <p>The Windows Installer accesses your Downloads folder, and the folder where the Installer is installed, in order to download and run Quote bot.</p>
    <br />
    <h4>What the Quote Linux Launcher uses/collects:</h4>
    <p>Much like the aforementioned usages, the Linux Launcher only uses the folder, where you downloaded the installer, to install and keep a version check of Quote Bot.</p>
    <br />
    <h3>To summarize: Quote bot, Quote Website, Quote Windows Installer and Quote Linux Launcher does not use or collect any of your personal information.</h3>
</div>